.h1_edu{
    color: #FFF;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.h2{
    color: #FFF;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 3.146px;
    text-transform: uppercase;
    text-align: center;
}

.eduTitle{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.desc{
    color: #FFF;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.3px;
    border-bottom: 4px solid #14C9C9;
}