/* Footer Section */

.footer{
    background-color: #FFF;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
  
.footertitle {
    color: #6F5353;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.footerlink {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footerlink a{
    color: #6F5353;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    text-decoration: none;
}
/* Form Input Section */

.newsletterform{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.emailaddress {
    border-radius: 70px;
    background: rgba(19, 18, 79, 0.31);
    display: flex;
    width: 113px;
    flex-direction: column;
    flex-shrink: 0;
    color: #614949;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    opacity: 1;
    margin-bottom: 20px;
    margin-top: 0px;
    width: 315px;
    align-items: center;
}
.footertext {
    border-radius: 83px;
    opacity: 1;
    background: #155e27;
    margin-bottom: 20px;
    width: 129px;
    height: 37px;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}


button.footertext {
    color: #FFF;
    /* sub header */
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}